body {
  background-color: grey;
}

header {
  text-align: center;
  background-color: #a1d8e6;
  padding: 25px;
}

footer {
  text-align: right;
  background-color: #a1d8e6;
  padding: 15px;
}

.mniejszeokienko {
  margin: auto;
  width: 90%;
}

section {
  background-color: #bcd6d7;
  padding: 25px;
  min-height: 400px;
}
